/* You can add global styles to this file, and also import other style files */
nz-input-number {
  width: 100% !important;
}

nz-date-picker {
  width: 100%;

  >nz-picker {
    >span {
      width: 100%;
      ;
    }
  }
}